﻿@model GymWebApp.Models.Activity

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        <div id="contentInner" class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3>ACTIVITY</h3>
                <hr />
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Name)
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Hour)
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Hour, new { htmlAttributes = new { @type = "time", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Hour, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        @foreach (var day in new string[] { "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY" }) {
                            <div class="row">
                                @Html.RadioButton("Day", @day)@Html.Label(@day)
                            </div>
                        }
                    </div>
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-warning btn-max" />
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
