﻿@model IEnumerable<GymWebApp.Models.Activity>

@{
    ViewBag.Title = "Index";
}

@using Microsoft.AspNet.Identity;

<div id="contentInner">
    <div class="row header">
        <div class="col-md-1">
            @if (User.Identity.IsAuthenticated && User.IsInRole("ADMIN")) {
                @Html.ActionLink("+", "Create", null, new { @class = "btn btn-warning" })
            }
        </div>
        @foreach (var day in new string[] { "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY" }) {
        <div class="col-md-2">
            <h4>@day</h4>
        </div>
        }
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        @foreach (var day in new string[] { "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY" }) {
            <div class="col-md-2">
                @foreach (var item in Model.Where(i => i.Day.ToString() == day).OrderBy(i => i.Hour)) {
                    <div class="row activityGroup @(@item.IsSigned(User.Identity.GetUserId()) ? "signGroup" : "")">
                        <p>@Html.DisplayFor(modelItem => item.Name)</p>
                        <p>@Html.DisplayFor(modelItem => item.Hour)</p>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("CLIENT")) {
                            if (item.IsSigned(User.Identity.GetUserId())) {
                                @Html.ActionLink("Sign out", "SignOut", new { id = item.ID }, new { @class = "btn btn-default" })
                            }
                            else if(!item.IsFull) {
                                @Html.ActionLink("Sign in", "SignIn", new { id = item.ID }, new { @class = "btn btn-default" })
                            }
                            else {
                                <div class="btn btn-default disabled">FULL</div>
                            }
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("ADMIN")) {
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-default btn-inline" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-default btn-inline" })
                        }
                    </div>
                }
            </div>
        }
        <div class="col-md-1">

        </div>
    </div>
</div>
