﻿@model IEnumerable<GymWebApp.Models.Activity>

@{
    ViewBag.Title = "My";
}

<div id="contentInner">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ACTIVITY</th>
                            <th>DAY</th>
                            <th>HOUR</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Day)</td>
                                <td>@Html.DisplayFor(modelItem => item.Hour)</td>
                                <td>@Html.ActionLink("Sign out", "SignOut", new { id = item.ID }, new { @class = "btn btn-default" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

