﻿body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

#content {
    background-size: cover;
    background: url("../../Images/background.jpg") no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#loginForm, #registerForm {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px 128px;
    border-radius: 16px;
    text-align: center;
}

#loginForm .checkbox {
    text-align: left;
}

#loginForm .btn, #registerForm .btn {
    width: 50%;
}

#contentInner {
    margin-top: 128px;
}

#contentInner .header {
    text-align: center;
}

.activityGroup {
    background-color: rgb(240,240,240);
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    text-align: center;
    font-size: 14px;
}

.signGroup {
    background-color: orange !important;
}

.profile input {
    width: 100%;
}

img {
    height: 256px;
}

.btn-inline {
    width: 64px;
    margin: 0px 8px;
}

.btn-max {
    width: 100%;
}

.btn-fixed {
    width: 64px;
}

.userEmail {
    width: 70%;
}

.userAction {
    width: 30%;
}

.details table {
    margin-bottom: 64px;
}