﻿@model GymWebApp.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<div id="contentInner">
    <div class="row details">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <img src="/File?id=@Model.MyProfile.ID" alt="avatar" />
        </div>
        <div class="col-md-5">
            <table>
                <tr>
                    <td>Email:</td>
                    <td><h4>@Model.Email</h4></td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td><h4>@Model.MyProfile.FirstName</h4></td>                        
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><h4>@Model.MyProfile.LastName</h4></td>
                </tr>
            </table>
            <div class="row">
                <div class="col-md-2">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-fixed" })
                </div>
                <div class="col-md-2">
                    @using (Html.BeginForm("Delete", "Users", new { id = Model.Id })) {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-warning btn-fixed" />
                    }
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
