﻿@model GymWebApp.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Users", null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()

    <div id="contentInner" class="profile">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ProfileId)

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <img src="/File?id=@Model.ProfileId" alt="avatar" />
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName)
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LastName)
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Avatar)
                    <input type="file" id="avatar" name="upload" accept="image/*" />
                </div>
                <div class="form-group">
                    <input type="submit" value="UPDATE" class="btn btn-warning form-control" />
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
