﻿@model IEnumerable<GymWebApp.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    string phrase = (string)ViewData["Phrase"];
}

<div id="contentInner">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        @using (Html.BeginForm("Search", "Users", FormMethod.Get)) {
            <input type="text" name="phrase" value="@phrase" required />
            <input type="submit" value="Search" class="btn btn-default" />
        }
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="userEmail">MAIL</th>
                            <th class="userAction">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td class="userEmail">@Html.DisplayFor(modelItem => item.Email)</td>
                                <td class="userAction">
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-fixed" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-fixed" })
                                        </div>
                                        <div class="col-md-3">
                                            @using (Html.BeginForm("Delete", "Users", new { id = item.Id })) {
                                                @Html.AntiForgeryToken()
                                                <input type="submit" value="Delete" class="btn btn-default btn-fixed" />
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>